/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // background: rgba(255, 246, 212, 0.60);
} */
@font-face {
  font-family: "NanumSquareR";
  font-weight: 10;
  src: url("./fonts/NanumSquareR.otf") format("opentype");
}

body {
  font-family: "NanumSquareR", sans-serif;
}

header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}


h1, h2 {
  color: #333;
}


@media only screen and (max-width: 1920px) {
  #Container {
    /* width: 1619px;    */
    margin: 0 auto;  /*가운데 정렬*/
  }
}
