@font-face {
  font-family: 'IM_Hyemin-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'IM_Hyemin-Bold';
}

/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width: 100%; */
/*} */

header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}


h1, h2 {
  color: #333;
}

