body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width: 100%; */
}

header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin: 0 10px;
}


h1, h2 {
  color: #333;
}


@media only screen and (max-width: 1920px) {
  #Container {
    /* width: 100%;    */
    margin: 0 auto;  /*가운데 정렬*/
  }
}
