@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    /* font-weight: normal; */
    /* font-style: normal; */
}

body {
    font-family: 'IM_Hyemin-Bold';
  }
